.app {
    width: 50%;
    margin: 0 auto;
    padding: 15px;

}

.header h1 {
    color: var(--light, #FFF);
    font-family: Racing Sans One;
    font-size: 70px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.todo-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--light, #FFF);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-top: 2%;
    box-shadow: 2px 2px 2px 2px rgb(78, 78, 78);
    border-radius: 20px;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #94989d, #7e94b1, #6690c5, #488bd8, #1285eb);
}

.todo-item-details {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox {
    height: 20px;
    width: 20px;
    background-color: #eee;
    cursor: pointer;
    margin-left: 2%;
}

.todo-text {
    display: flex;
    width: 85%;
    overflow: auto;
    margin-left: 5%;
}

.search-input,
.todo-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #D9D9D9;
}

.search-input {
    width: 50%;
}

.select-category {
    width: 30%;
    padding: 10px;
    margin-top: 1.5%;
    border-radius: 20px;
    background: #D9D9D9;
}

.input {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    flex-direction: column;
}

.submit-button {
    padding: 5px;
    height: 40px;
    border-radius: 20px;
    width: 100px;
}

.todo-text.completed {
    text-decoration: line-through;
}

.copy-delete {
    width: 15%;
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
}

.copy-button img {
    width: 30px;
    cursor: pointer;
}

.copy-button img:active {
    opacity: 0.5;
}

.delete-button img {
    width: 30px;
    cursor: pointer;
}

.error {
    color: black;
    font-size: 10px;
    height: 15px;
}

.info {
    color: black;
    font-size: 10px;
    margin-bottom: 10px;
    height: 10px;
    text-align: center;
}


@media only screen and (min-width: 768px) and (max-width: 1076px) {
    .app {
        width: 75%;
    }

}

@media only screen and (max-width: 768px) {
    .app {
        width: 85%;
    }

    .header h1 {
        font-size: 40px;
    }

    .copy-button img {
        width: 15px;
    }

    .delete-button img {
        width: 15px;
    }

    .todo-item {
        font-size: 14px;
    }

    .checkbox {
        width: 15px;
    }
}